.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin{style:"background-color:gold;"}
	.col-xs-10.col-sm-8.col-md-6.col-lg-4
		.box
			.big-padding.blue.text-left.white-text
				%h1.no-margin.bold.light-blue-text.no-margin Roossbook
				%p.no-margin Conecta y conoce personas de todo el mundo y esta red social no vende tu informacion privada como lo hace facebook
				.top-space
					Aqui va el login
				.large-padding.text-center
				=link_to "Crear cuenta", new_user_registration_path